workflows/mert.jsonbackup.json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Delete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Delete": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Delete1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GitHub Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-29T05:21:13.733Z",
  "id": "1LxLLBRQ2JWcWMUr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "backup",
  "nodes": [
    {
      "parameters": {},
      "id": "6751faab-6547-4400-8fa2-03494f9dc00b",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -140,
        605.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "c57bf16f-a1f8-45df-bc5a-6098bed0263b",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        740,
        445
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "fe3fd8d9-f54e-4304-aad2-07b0511df39f",
      "credentials": {
        "githubApi": {
          "id": "Go4DDnVnBj5vL83O",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "065416d7-8939-46d3-ab3f-6e80ae306b1b",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1400,
        434.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "68a728ef-f832-4a6b-9128-86315ff5d3b7",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1620,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d2ba936f-b2d0-4f0a-9ae7-90f25250146e",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1620,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "1129fe18-7efb-41af-bd08-af8242493d9d",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1620,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "73ab44ca-5705-4fa9-a1e9-81d7d1ac1bbc",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        1840,
        555.5
      ],
      "typeVersion": 1,
      "webhookId": "dcbb0196-053a-4679-9f2f-12a7a073d8dd",
      "credentials": {
        "githubApi": {
          "id": "gIAP3lum70GJXH8E",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "faad33e6-2471-49cb-9ede-69c85ebc3ff5",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        2500,
        855.5
      ],
      "typeVersion": 1,
      "webhookId": "453461f4-9a7a-45cd-93bf-42f0442f76fd",
      "credentials": {
        "githubApi": {
          "id": "gIAP3lum70GJXH8E",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "e6cbf2fb-120e-4278-8379-364822209ae1",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        520,
        605.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "mertmr"
            },
            {
              "name": "repo.name",
              "value": "n8n-workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/mert.json"
            }
          ]
        },
        "options": {}
      },
      "id": "3b04f135-3ba3-4f86-a80d-5b1621988faa",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        80,
        605.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "1df23b54-6e38-453e-8dd7-cafa9e5941a4",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -140,
        805.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "3a9ecc34-23d1-4c79-b98c-271962423332",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        300,
        605.5
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "25A44msAgvc9yOb5",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "2a1fa842-e596-4859-a894-789a60836e34",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1180,
        455.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "516b8564-c63f-4c5a-b319-2cb24605f16b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        960,
        455.5
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "2db43f8e-357d-44b6-9292-26552d6b5c70",
      "name": "GitHub Delete",
      "type": "n8n-nodes-base.github",
      "position": [
        2280,
        755.5
      ],
      "typeVersion": 1,
      "webhookId": "453461f4-9a7a-45cd-93bf-42f0442f76fd",
      "credentials": {
        "githubApi": {
          "id": "gIAP3lum70GJXH8E",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "additionalParameters": {}
      },
      "id": "b2a3ed58-4801-4177-9ee7-eba6c12e19e0",
      "name": "GitHub Delete1",
      "type": "n8n-nodes-base.github",
      "position": [
        1840,
        755.5
      ],
      "typeVersion": 1,
      "webhookId": "453461f4-9a7a-45cd-93bf-42f0442f76fd",
      "credentials": {
        "githubApi": {
          "id": "gIAP3lum70GJXH8E",
          "name": "GitHub account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a243d69-823b-4c62-b962-67abc4549ac0",
              "leftValue": "data",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2060,
        755.5
      ],
      "id": "04578f11-b2de-4894-894e-1fa1ae16423e",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-29T04:30:06.000Z",
  "versionId": "333d0efb-e659-4741-932e-866d365d1bf2"
}